<% page.comment = true; %>

<%- partial('_partial/article', {item: page, post: true}) %>
<div id="gitmentContainer"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
    owner: 'liuguisheng',
    repo: 'qisi007.github.io',
    oauth: {
        client_id: '3ed6057b4ee48f98653e',
        client_secret: '05d14cd1c55cb5a3a5dc3130c989688765e7fc28',
    },
});
gitment.render('gitmentContainer');
</script>